{% extends 'newOrder.html' %}

{% block content %}
<h2>{% block title %} New order {% endblock %}</h2>

<form method="POST" class="form">
    <div class="form-group">
        <label for="title">Customer name</label>
        <input type="text" name="customer_name"
               placeholder="Customer Name title" class="form-control"
               value="{{ request.form['customer_name'] }}"></input>
    </div>
    <div class="form-group">
        <label for="title">Sales channel</label>
        <input type="text" name="sales_channel"
               placeholder="Sales channel" class="form-control"
               value="{{ request.form['sales_channel'] }}"></input>
    </div>
    <div class="form-group">
        <label for="title">Destination</label>
        <input type="text" name="destination"
               placeholder="Destination" class="form-control"
               value="{{ request.form['destination'] }}"></input>
    </div>
    
    <div class="form-group">
        <label for="title">Items</label>
        <input type="number" name="items"
               placeholder="Quantity" class="form-control"
               value="{{ request.form['items'] }}"></input>
    </div>
    <div class="form-group">
        <label for="title">Item status</label>
        <input type="text" name="item_status"
               placeholder="Item status" class="form-control"
               value="{{ request.form['item_status'] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}